* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color: #ffff;
  }
   
   
  .pressedbtn{
    margin: 0px 10px;
      padding: 10px 30px;
      background-color: #000000;
      color: white;
      border-radius: 20px;
  }
  .nonpressedbtn{
    margin: 0px 10px;

    padding: 10px 30px;
    background-color: #ffffff;
    border-radius: 20px;

  }
  .nonpressedbtn:hover{
    background-color: #ffffff;
   }
  .card-inner{
    display: flex;
    justify-content: center;
    padding: 10px 0px;


  }
  

 .heading2{
    padding: 20px 0px 0px 0px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    background: #e9ecef;
    padding: 7px;
    border-radius: 5px;
  }
  
   
  .result button {
    width: auto;
    background-color: #28a745;
  }
  
  .result button:hover {
    background-color: #218838;
  }
  
  .resultt {
    padding: 7px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    background: #e9ecef;
    border-radius: 5px;
  }
  
   
  .resultt button {
    width: auto;
    background-color: #28a745;
  }
  
  .resultt button:hover {
    background-color: #218838;
  }
  

  .inputlink{
    outline: none;
    border: none;
    font-size: 16px;
   margin: 0;
   background: #e9ecef;
  }

  .butn{
    width: 140px;
    background-color: #28a745;
  }
  .butn:hover{
    background-color: #218838;
  }